.nasa {
    width: 400px;
    margin: 40px auto 0 auto;
}

.nasa > div {
    margin-bottom: 20px;

    font-size: 20px;
    text-align: center;
}

li {
    display: block;
    text-align: left;
}

li:hover {
    color: white;
    background-color: black;

    cursor: pointer;
}

li.active {
    color: white;
}